* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background: #0f172a;
  color: #fff;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #020617;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  color: #38bdf8;
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  color: #cbd5f5;
  cursor: pointer;
}

.sidebar nav a:hover,
.sidebar nav .active {
  background: #1e293b;
}

.sidebar button {
  margin-top: auto;
  padding: 12px;
  background: #ef4444;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* MAIN */
.content {
  flex: 1;
  padding: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

/* CARD */
.card {
  background: #020617;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #1e293b;
}

th, td {
  padding: 12px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #1e293b;
}

tbody tr:hover {
  background: #020617;
}

.in {
  color: #22c55e;
  font-weight: bold;
}

.out {
  color: #f97316;
  font-weight: bold;
}
